<!DOCTYPE html>
<html lang="en-US" style="height: 100%">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <form id="form" method="POST">
      <div class="labels">
        <label for="TargetUrl">Target URL</label>
      </div>
      <input
        type="text"
        class="form-control"
        name="TargetUrl"
        placeholder="www.placeholder.com"
        value=""
      />
      <div class="labels">
        <label for="ThreadPool">Thread pool</label>
      </div>
      <input
        type="number"
        class="form-control"
        name="ThreadPool"
        placeholder="5"
        value=""
      />
      <div class="labels">
        <label for="RampUpTime">RampUp Time</label>
      </div>
      <input
        type="number"
        class="form-control"
        name="RampUpTime"
        placeholder="5"
        value=""
      />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="top-row">
      <div id="total-requests">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=26"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="failed-requests">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416410729&to=1618416710729&panelId=28"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="recieved-bytes">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416531907&to=1618416831907&panelId=38"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="sent-bytes">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416552510&to=1618416852511&panelId=37"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="second-row">
      <div id="total-throughput">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416605896&to=1618416905896&panelId=4"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="total-errors">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416635464&to=1618416935464&panelId=2"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="active-threads">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416654289&to=1618416954289&panelId=31"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="error-rate">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416571720&to=1618416871720&panelId=29"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="third-row">
      <div id="transactions-response-time">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416677019&to=1618416977019&panelId=23"
          width="1500"
          height="400"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="fourth-row">
      <div id="network-traffic">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&from=1618416725392&to=1618417025392&panelId=36"
          width="90%"
          height="400"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </body>
  <style>
    .top-row {
      display: flex;
      flex-direction: row;
    }

    .second-row {
      display: flex;
      flex-direction: row;
    }

    .third-row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    input[type="text"],
    [type="number"] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      width: 50%;
      /*background-color: #4CAF50;*/
      background-color: #7e8287;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    #form {
      margin-left: 32%;
    }

    body {
      background-color: #141619;
    }

    label {
      color: white;
    }
  </style>
</html>
