<!DOCTYPE html>
<html lang="en-US" style="height: 100%">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <form id="form" method="POST">
      <div class="labels">
        <label for="TargetUrl">Target URL</label>
      </div>
      <input
        type="text"
        class="form-control"
        name="TargetUrl"
        placeholder="www.placeholder.com"
        value=""
      />
      <div class="labels">
        <label for="ThreadPool">Thread pool</label>
      </div>
      <input
        type="number"
        class="form-control"
        name="ThreadPool"
        placeholder="5"
        value=""
      />
      <div class="labels">
        <label for="RampUpTime">RampUp Time</label>
      </div>
      <input
        type="number"
        class="form-control"
        name="RampUpTime"
        placeholder="5"
        value=""
      />
      <div class="labels">
        <label for="interval">Time interval</label>
      </div>
      <input
        type="number"
        class="form-control"
        name="interval"
        placeholder="5"
        value=""
      />
      <div class="labels">
        <label for="engine">Run</label>
        <input type="checkbox" name="engine" value="true" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="top-row">
      <div id="total-requests">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=26"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="failed-requests">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=28"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="recieved-bytes">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=38"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="recieved-bytes-Mean">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=39"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="second-row">
      <div id="recieved-bytes-Max">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&refresh=5s&panelId=41"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Send Bytes">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=37"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Send Bytes Mean">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=40"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Send Bytes Max">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=42"
          width="450"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="third-row">
      <div id="Total Errors">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=2"
          width="700"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Errors Rate %">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=29"
          width="450"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Total Throughput">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=4"
          width="700"
          height="300"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div class="fourth-row">
      <div id="Transactions Response Time ">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=23"
          width="950"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="Network-traffic">
        <iframe
          src="http://wmicp.uksouth.cloudapp.azure.com/d-solo/y2o0OKXMz/apache-jmeter-dashboard-using-core-influxdbbackendlistenerclient?orgId=1&panelId=36"
          width="950"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </body>
  <style>
    .top-row {
      display: flex;
      flex-direction: row;
    }

    .second-row {
      display: flex;
      flex-direction: row;
    }

    .third-row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .fourth-row {
      display: flex;
      flex-direction: row;
    }
    input[type="text"],
    [type="number"] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      width: 50%;
      /*background-color: #4CAF50;*/
      background-color: #7e8287;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    #form {
      margin-left: 32%;
    }

    body {
      background-color: #141619;
      width: 100%;
    }

    label {
      color: white;
    }
  </style>
</html>
